/* CSS Document */

ul{
	list-style:none !important;
}

li{
}

#autoimage {
	margin-top: 100px;
}

#autoimage img{
	margin-left:200px;
}

.hitarea a{
	text-decoration:none;
}

.hitarea{
	-moz-box-shadow: 5px 5px 5px #888;
	-webkit-box-shadow: 5px 5px 5px #888;
	box-shadow: 5px 5px 5px #888;
	cursor: pointer;
}

.ui-listview-filter .ui-input-search {
	margin: 20px;
}